body {
  background: #161616;
  color: #bdbdbd;
  
  height: 100vh;
  display: block;
  
  font-family: Helvetica neue, roboto;
}

h1 {
  font-weight: 300;
  text-align: center;
  font-weight: 300;
  display: block;
}

a {
  display: block;
}
